@page "/RegistroVentas"
@using AplicacionPruebaBancaria.Modelos.Parametos
@using AplicacionPruebaBancaria.Modelos.Utilitarios
@using AplicacionPruebaBancaria.ServiciosAPI
@inject IServicioAPI ServicioAPI

<PageTitle>Registro Ventas</PageTitle>

<h1>Registro Ventas</h1>

@*<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>*@

@*<BSButton Color="BSColor.Primary" @onclick="MuestraMensaje">HOLIS </BSButton>

<BSLabel>Datalist example</BSLabel>
<BSInput InputType="InputType.DataList" list="datalistOptions" Value="@("Test")" />

<datalist id="datalistOptions">
    <option value="San Francisco"/>
    <option value="New York"/>
    <option value="Seattle"/>
    <option value="Los Angeles"/>
    <option value="Chicago"/>
</datalist>
*@

<BSForm IsRow="true" Gutters="Gutters.Medium" IsBasic="true">
    <BSCol Column="auto">
        <BSLabel IsHidden="true">Vendedor</BSLabel>
        <BSInput InputType="InputType.Text" placeholder="Vendedor" IsPlainText="true"  @bind-Value="@regVentasCab.IdVendedor12"/>
    </BSCol>
    <BSCol Column="auto">
        <BSLabel IsHidden="true">Cliente</BSLabel>
        <BSInput InputType="InputType.Text"  placeholder="Cliente" IsPlainText="true"   @bind-Value="@regVentasCab.IdCliente12"/>
     </BSCol>
    <BSCol Column="auto">
        <BSLabel IsHidden="true">Fecha de Emision</BSLabel>
        <BSInput InputType="InputType.Date" @bind-Value="@regVentasCab.FechaEmi25"/>
    </BSCol>
    <BSCol Column="auto">
        <BSButton Color="BSColor.Primary" @onclick="OnValidSubmit" MarginBottom="Margins.Medium" >Envia Datos</BSButton>
    </BSCol>
</BSForm>

@if (!string.IsNullOrEmpty(Error))
{ 
        <p>@Error</p>
}




@code {
    private int currentCount = 0;
    RegVentasCab regVentasCab = new RegVentasCab();
    RegVentasDet regVentasDet = new RegVentasDet();
    //    public List<VentasCAB> ventasCABs { get; set; }
    public string Error { get; set; }
    public RespuestaGenerica respuestaGenerica { get; set; }

    private async Task OnValidSubmit() {

       try
        {
            Console.WriteLine("Los Datos son" + regVentasCab.IdVendedor12 + " ," + regVentasCab.IdCliente12 + "," + regVentasCab.FechaEmi25);
            respuestaGenerica = await ServicioAPI.ModificarCAB(regVentasCab);
        }
        catch (Exception ex)
        {
            Error = ex.Message;
        }
    }

    private void IncrementCount()
    {
        currentCount++;
    }
    private void MuestraMensaje()
    {
        Console.WriteLine("HAS HECHO UN CLICK");
    }

}
