@page "/ReporteMetaVentas"
@using AplicacionPruebaBancaria.Modelos.Parametos
@using AplicacionPruebaBancaria.Modelos.Reportes
@using AplicacionPruebaBancaria.ServiciosAPI
@inject HttpClient Http
@inject IServicioAPI ServicioAPI
@inject IBlazorStrap blazorStrap

<PageTitle>Weather forecast</PageTitle>

<h1>Reporte de Cuotas Ventas</h1>

<p>Reporte de Ventas agrupados por el Gerente y sus vendedores</p>

@if (listarReporteMetaVentas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                    <th>Relacion</th>
                    <th>IdGerente</th>
                    <th>Gerente</th>
                    <th>IdVendedor</th>
                    <th>Vendedor</th>
                    <th>MetaActual</th>
                    <th>PuntoTotales</th>
                    <th>MontoTotales</th>                    
            </tr>
        </thead>
        <tbody>
            @foreach (var reporteMetaVentas in listarReporteMetaVentas)
            {
                <tr>
                     <td>@reporteMetaVentas.Relacion</td>
                     <td>@reporteMetaVentas.IdGerente</td>
                     <td>@reporteMetaVentas.Gerente</td>
                     <td>@reporteMetaVentas.IdVendedor</td>
                     <td>@reporteMetaVentas.Vendedor</td>
                     <td>@reporteMetaVentas.MetaActual</td>
                     <td>@reporteMetaVentas.PuntoTotales</td>
                     <td>@reporteMetaVentas.MontoTotales</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (!string.IsNullOrEmpty(Error))
{ 
            <p>@Error</p>
}
@code {
    public string Error { get; set; }
    public List<ListarReporteMetaVentas> listarReporteMetaVentas { get; set; }
    ParamRepMetaVentas paramRepMetaVentas = new ParamRepMetaVentas();

    protected override async Task OnInitializedAsync()
    {
    try
        {
            listarReporteMetaVentas = await ServicioAPI.ReporteMetaVentas(paramRepMetaVentas);
        }
    catch (Exception ex)
        {
            Error = "ProductoListar : " + ex.Message;
        }
    }
}
